/* Global Styles for Dark Mode */
body {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text for better readability */
}

.games-container {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Adjust the space between cards */
}

.game-card {
    background: #1e1e1e; /* Dark background for cards */
    color: #fff; /* Light text color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(100% / 3 - 40px); /* Three cards per row, adjust the gap as needed */
    margin: 10px;
    text-align: center;
}

.team {
    margin-bottom: 20px;
}

.team-logo {
    width: 80px; /* Adjust the size of the logos */
    height: auto;
    margin-bottom: 10px;
}

.team-name {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-details {
    margin-bottom: 20px;
}

.line-total, .predicted-total, .game-time {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .games-container {
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        width: 90%; /* Full width on smaller screens */
    }
}

/* Login Form Container */
.form {
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    padding: 20px;
    margin: auto;
    text-align: center;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Ensuring Input Fields are Clearly Visible */
.form .control input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .login-container {
        width: 95%;
    }
}

/* Additional adjustments for overall layout and visibility */
.credits {
    font-size: smaller; /* Make credits less obtrusive on small screens */
    padding: 10px;
}
