{% extends "layout.html" %}

{% block content %}
<div class="games-container">
    {% for game in games %}
    <div class="game-card">
        <div class="team">
            <img src="{{ game.team1_logo }}" alt="{{ game.home_team }}" class="team-logo">
            <span class="team-name">{{ game.home_team }}</span>
        </div>
        <div class="game-details">
            <div class="line-total">Line Total ({{game.bookmaker}}): {{ game.odds[0].point }}</div>
            <div class="predicted-total">Predicted Total Goals: {{ game.predicted_total_goals }}</div>
            <div class="game-time">{{ game.game_time }}</div>
        </div>
        <div class="team">
            <img src="{{ game.team2_logo }}" alt="{{ game.away_team }}" class="team-logo">
            <span class="team-name">{{ game.away_team }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}